* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    min-width: 100%;
    height: 60px;
    position: relative;
    background-color: var(--title);
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav_links li {
    font-weight: bold;
    display: inline-block;
    padding: 0px 15px;
    color: var(--white);
}

.nav_links li a {
    font-size: 16px;
    text-decoration: none;
    transition: .2s all;
}

.nav_links li a:hover {
    color: var(--title);
    text-align: center;
    padding: 10px;
    background-color: var(--white);
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    margin-left: 10px;
    margin-right: auto;
    width: 8rem;
    height: 5rem;
    cursor: pointer;
}

main {
    width: 100%;
    min-height: calc(100vh - 260px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bannerEmpressa {
    width: 100%;
    height: 170px;
    background: rgb(214, 59, 93);
    background: linear-gradient(90deg, rgba(214, 59, 93, 1) 0%, rgba(248, 123, 15, 1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bannerEmpressa img {
    width: 100%;
    height: 95%;
    opacity: 0.6;
}

.formsNewProduct {
    padding: 180px;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formsNewProduct h1{
    font-size: 40px;
    font-weight: bold;
}

.formsNewProduct form {
    background-color: white;
    border-radius: 10px;
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.35);
}

.formsNewProduct form select {
    background-color: var(--white);
    display: flex;
    width: 380px;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}

.formsNewProduct form button {
    border: 0;
    border-radius: 30px;
    width: 150px;
    padding: 15px;
    background-color: var(--title);
    color: white;
    font-weight: bold;
}

#numberNota {
    width: 100%;
}

#numberNota label {
    color: var(--title);
    font-size: 25;
    font-weight: bold;
}

#numberNota input {
    background-color: var(--white);
    width: 100%;
    padding: 5px;
    border: 0;
    border-radius: 15px;
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    text-align: center;
}

#grauDeSatisfacao {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#grauDeSatisfacao label{
    color: var(--title);
    font-size: 25;
    font-weight: bold;
}

#genero {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#genero label {
    color: var(--title);
    font-size: 25;
    font-weight: bold;
}


#genero h2 {
    color: var(--title);
    font-size: 25;
}

#genero div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    bottom: 0;
    position: relative;
    padding: 30px;
    min-width: 100%;
    width: 100%;
    background-color: var(--title);
}

.footerInfos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.copy {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}