* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    min-width: 100%;
    height: 60px;
    position: relative;
    background-color: var(--title);
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#row-nav{
    justify-content: center;
    align-items: center;
    background-color: var(--title);
}

#logo-col-8 {
    /* background-color: aqua; */
}

#nav-col-8{
    /* background-color: blue; */
}


#item-id {
    font-weight: bold;
    display: inline-block;
    padding: 0px 15px;
    font-size: 0.8em;
    color: var(--white);
    transition: .2s all;
}
#item-id:hover {
    color: rgb(126, 126, 126);
    transition: .2s all;
} 

.nav_links li {
    font-weight: bold;
    display: inline-block;
    padding: 0px 15px;
    color: var(--white);
}

.nav_links li a {
    font-size: 16px;
    text-decoration: none;
    transition: .2s all;
}

.nav_links li a:hover {
    color: var(--title);
    text-align: center;
    padding: 10px;
    background-color: var(--white);
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    margin-left: 10px;
    margin-right: auto;
    width: 8rem;
    height: 5rem;
    cursor: pointer;
}

body {
    width: 100%;
    position: relative;
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    min-height: calc(100vh - 260px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bannerEmpressa {
    width: 100%;
    height: 170px;
    background: rgb(214, 59, 93);
    background: linear-gradient(90deg, rgba(214, 59, 93, 1) 0%, rgba(248, 123, 15, 1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.bannerEmpressa img {
    width: 100%;
    height: 95%;
    opacity: 0.6;
}


.texoBoasVindas{ 
    display: flex;
    height: 100vh;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}.texoBoasVindas h1{
    font-family: Tahoma, sans-serif;
    font-weight: 700;
    font-size: 6rem;
}.texoBoasVindas p{
    font-size:1.45rem;
}


.logosDoApps{
    padding: 30px;
    background-color: rgba(248, 123, 15, 1);
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}.containerLogos {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}.logosDoApps a{
    text-decoration: none;
    text-align: center;
}
.logosDoApps h1{
    font-family:  Tahoma, sans-serif;
    font-weight: 700;
}
.logos{
    max-width: 50%;
    max-height: 50%;
    margin: 30px;
    width: 30%;
    min-width: 100px;
    height: 30%;
    min-height: 100px;
    transition: .3s all;
}.logos:hover{
    transform: scale(0.96);
}
.logosDoApps h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.containerCard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.card{
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: row;
    width: 35%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}.card p{
    font-family: Helvetica, sans-serif;
    text-align: justify;
    margin: 10px;
    color: #000;
}
#hr-footer{
    height: 2px;
    margin-bottom: 20px;
    background-color: var(--title);
}

footer {
    bottom: 0;
    position: relative;
    padding: 30px;
    min-width: 100%;
    width: 100%;
    background-color: var(--title);
}

#footerInfos {
    background-color: var(--title);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.copy {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}