header {
    display: flex;
    width: 100%;
    padding: 20px;
    position: relative;
    background-color: var(--title);
    align-items: center;
    justify-content: flex-end;
    -webkit-box-shadow: 7px 6px 20px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 6px 24px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 6px 14px -10px rgba(0, 0, 0, 0.75);
  }.nav_links li {
    font-weight:bold;
    display: inline-block;
    padding: 0px 15px;
    color: var(--white);
}.nav_links li a {
    font-size: 20px;
    text-decoration: none;
    transition: .2s all;
}.nav_links li a:hover {
    color: var(--title);
    text-align: center;
    padding: 10px;
    background-color: var(--white);
    font-weight: 600;
    font-size: 22px;
    border-radius: 20px;
    -webkit-box-shadow: 7px 6px 34px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 6px 34px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 6px 34px -10px rgba(0, 0, 0, 0.75);
}.logo {
    margin-left: 10px;
    margin-right: auto;
    width: 8rem;
    height:5rem;
    cursor: pointer;
}
 

  body{
    position: relative;
    min-height: 100vh;
    padding-bottom:30px;
  }

  .container{
    padding: 20px;
    position: relative;
    padding-bottom: 10px;
  }

  main {
    /* min-height: calc(100vh - 90px); */
  }
  footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    /* position: relative; */
    background-color:var(--footer);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }footer h5{
    font-size: 1rem;
    color: var(--white);
  }

  .classcardInformation{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }.classcardInformation h2{
    font-weight: bold;
    color: var(--white);
  }.classcardInformation h3{
    color: var(--white);
  }.classcardInformation p{
    color: var(--white);
  }.copy{
  background-color: var(--title);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  }
